@tailwind base;
@tailwind components;
@tailwind utilities;

.card-animation:hover {
  animation: wiggle 0.35s ease;
}

@keyframes wiggle {
  0%,
  100% {
    transform: skewY(0deg);
  }
  50% {
    transform: skewY(5deg);
  }
}
