---
// import hero from "../images/hero-image.jpg";
---

<!-- Header Section -->
<header id="hero" class="pt-20">
  <!-- Flex Container -->
  <div
    id="showcase"
    class="relative container flex flex-col items-center justify-center mx-auto px-4"
  >
    <!-- Hero Image -->
    <div id="imgs-container" class="relative w-full">
      <img
        src="/images/showcase-2.jpg"
        alt="hero-image"
        class="hero-img w-full max-h-view shadow-md"
      />
    </div>

    <!-- Hero Intro -->
    <div
      id="hero-content"
      class="pt-4 space-y-6 md:pt-10 md:pr-10 md:bg-sky-100/20 backdrop-blur-md text-left md:absolute md:left-4 md:bottom-0 md:w-4/6 md:shadow-inner"
    >
      <h1
        class="font-heading text-3xl text-gray-900 font-semibold md:text-4xl md:pl-3"
      >
        Hey, I'm Jamal Ahmad and I love building awesome websites
      </h1>
      <a
        href="#about"
        class="font-heading bg-verDarkGreen text-white py-2 px-8 inline-block hover:bg-lightGreen md:text-xl"
        >About Me</a
      >
    </div>
  </div>
</header>
