<!-- Navbar -->
<nav id="#nav" class="pt-10">
  <!-- Container -->
  <div
    class="relative container flex items-center justify-between mx-auto px-4"
  >
    <!-- logo -->
    <div>
      <img
        src="../images/logo-1.png"
        alt="logo"
        class="h-8 w-20 object-cover"
      />
    </div>

    <!-- Manu List -->
    <div
      id="manu"
      class="bg-darkGray hidden flex-col items-center justify-between gap-8 absolute right-4 top-16 w-56 py-5 z-10 md:bg-transparent md:flex md:flex-row md:static md:py-0 md:w-auto"
    >
      <a
        href="/"
        class="nav--item text-white hover:text-lightGreen md:text-darkGray md:text-xl"
        >Home</a
      >
      <a
        href="/portfolio/"
        class="nav--item text-white hover:text-lightGreen md:text-darkGray md:text-xl"
        >Portfolio</a
      >
      <a
        href="/contact/"
        class="nav--item text-white hover:text-lightGreen md:text-darkGray md:text-xl"
        >Contact</a
      >
    </div>

    <!-- Hamburger Manu -->
    <div class="md:hidden">
      <img
        src="../images/icon-hamburger.svg"
        alt="icon-hamburger"
        class="hamburger h-4 cursor-pointer"
      />
    </div>
  </div>
</nav>

<!-- Style -->
<style>
  #manu.show {
    display: flex;
  }

  .nav--item:is(:link, :active, :visited).nav--active {
    text-decoration: underline wavy #5fb4a2 0.13rem;
    text-underline-offset: 0.5rem;
  }
</style>

<script is:inline>
  // UI Elements
  const manu = document.querySelector("#manu");
  const hamburgerIcon = document.querySelector(".hamburger");

  // Eventhandler
  hamburgerIcon.addEventListener("click", function () {
    manu.classList.toggle("show");

    // check if show is there
    if (manu.classList.contains("show")) {
      hamburgerIcon.src = "../images/icon-close.svg";
    } else {
      hamburgerIcon.src = "../images/icon-hamburger.svg";
    }
  });

  // activate current page

  const manuList = document.querySelectorAll(".nav--item");
  console.log(window.location.href);

  // Activate current link
  manuList.forEach((item) => {
    let link = item.href;
    if (link[link.length - 1] !== "/") {
      link = `${link}/`;
    }
    console.log(link);

    if (link === window.location.href) {
      item.classList.add("nav--active");
    }
  });
</script>
