---
// Import Components
import "../styles/style.css";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";

const { title = "Jamal's Portfolio | Home" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/660feba94e.js"
      crossorigin="anonymous"
    ></script>
    <title>{title}</title>
  </head>
  <body class="bg-gray-50">
    <!-- Nav -->
    <Nav />

    <!-- Slot -->
    <slot />

    <!-- Footer -->
    <Footer />
  </body>
</html>
